* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  nav {
    background-color: #fff;
    width: 100%;
    height: 60px;
    padding: 5px 50px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-icon h4{
    font-weight: 600;
  }
  .home-icon a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
  }

  .logos img {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .logos div {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #FFFFFF;
  }

  .logos div img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .logos div h3 {
    font-size: 16px;
    font-weight: bold;
  }

  /* Style the search container */
  .search-container {
    display: flex;
    width: 70%;
    margin: 0 10px;
    align-items: center;
    justify-content: center;

  }

  .search-container input {
    background-color: #f1f1f1;
    width: 80%;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 14px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

  /* Style the navigation links */
  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin-right: 10px;
  }

  li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  li a img{
    width: 30px;
    height: 30px;
  }

  li a{
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .last-div{
    display: flex;
    height: 38px;
    padding: 5px 10px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f1f1f1;
    align-items: center;
    width: 130px;
    gap: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.last-div img{
    width: 26px;
}
.last-div a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.login-button{
    width:100px;
    height: 38px;
    align-items: center;
    display: flex;
    background-color: orangered;
    padding: 5px 30px;
    justify-content: center;
    margin-left: 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.last-div-2 a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: 600;

}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    align-items: center;
    padding-top: 20px;
}
.wrapper{
    width: 60%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

}
.left-panel{
    width: 60%;
    height: 100%;
}
.right-panel{
    width: 30%;
    height: 100%;
}

.create-post{
    margin-bottom: 15px;
    gap: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.create-post input{
    background-color: #f1f1f1;
    width: 80%;
    height: 38px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 14px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.create-post img{
    width: 35px;
    cursor: pointer;
}

.create-post a img{
    width: 30px;
}
.icon-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.first-icon-div{
    padding: 6px 15px;
    background-color: #f1f1f1a5;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.icon-div img{
    width: 20px
}
.first-icon-div span{
    color: #2F76FF;
}
.create-post h5{
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #BEBDBD;
}
.last_icon_div{
    margin-left: 90px;
}
.right-panel-post{
    margin-bottom: 15px;
    gap: 20px;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 140px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    flex-direction: column;
}
.inner-div{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.inner-div img{
    margin-right: 10px;
}

.button{
    width: 100%;
    height: 48px;
    align-items: center;
    display: flex;
    background-color: orangered;
    padding: 5px 30px;
    justify-content: center;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.right-panel-post-2{
    position: relative;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 110px 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 320px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    flex-direction: column;
}
.right-panel-post-2 img{
    position: absolute;
    width: 100%;
    top: 1px;
}
.right-panel-post-2 p{
    text-align: center;
}
.right-panel-post-2 .line{
    height: 1px;
    width: 90%;
    background-color: #dddddd;
}
.two-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 90px;
}
.two-buttons button{
    width: 100%;
    height: 32px;
    align-items: center;
    display: flex;
    background-color: #2F76FF;
    padding: 5px 30px;
    justify-content: center;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.two-buttons .button-2{
    width: 100%;
    height: 32px;
    align-items: center;
    display: flex;
    background-color: transparent;
    padding: 5px 30px;
    justify-content: center;
    border: 1px solid #2F76FF;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: #2F76FF;
    font-weight: 600;
    cursor: pointer;
}

.post{
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-left: 70px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    flex-direction: column;
}

.review{
    left: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 80px;
}

.username{
    font-weight: 600;
    cursor: pointer;
}
.post-text{
    margin-top:20px
}
.review img{
    width: 20px;
}
.left-box{
    position: absolute;
    left: 0.1px;
    width: 60px;
    height: 100%;
    background-color: #ececec62;
}
.bottom-icons{
    width: 100%;
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.icon-div-2 h5{
    color: #BEBDBD;
    cursor: pointer;
}
.icon-div-2 img{
    width: 20px;
    cursor: pointer;
}